{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{name}} - Portfolio</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Valley+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
        {% block meta %} {% endblock meta %}
</head>
<body>
    <!-- header -->
    <header class="site-header">
        <div class="container navbar">
            <a href="{% url 'main:show_main' %}" class="brand">
                <img src="{% static 'img/rebecca-logo.svg' %}" alt="{{ name }} Brand Logo">
            </a>
            
            <nav class="nav-links">
                <a href="{% url 'main:show_main' %}">Profile</a>
                <a href="{% url 'main:show_education' %}">Education</a>
                <a href="{% url 'main:show_experience' %}">Experience</a>
                <a href="https://drive.google.com/file/d/1gBuQAE2ehM_lLzzTVDjTS5feE92_fNeH/view?usp=sharing" class="btn btn-small btn-primary">
                    <span> View CV</span>
                    <img src="{% static 'img/Right-Up Arrow.svg' %}" alt="arrow Logo" class="btn-icon arrow-icon">
                </a>
            </nav>
        </div>
    </header>
    {% block content %} {% endblock content %}

    <!-- footer -->
     <footer class="site-footer">
        <div class="container">
            <p>&copy; 2026 {{name}}. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
        </div>
    </footer>
</body>
</html>